# Chapter 5

In [6]:
!pip install toolz

Collecting toolz
Installing collected packages: toolz
Successfully installed toolz-0.10.0

In [7]:
import toolz

ImportError: No module named 'toolz'

In [1]:
from os.path import dirname, join
from dotenv import load_dotenv


dotenv_path = join(dirname(__file__), '.env')
load_dotenv(dotenv_path)

ImportError: No module named 'dotenv'

## jupyter でのbiq queryの実行方法

In [6]:
%load_ext google.cloud.bigquery

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [17]:
%%bigquery --project scalable-data-science 

SELECT 
    start_station_name
    , AVG(duration) as duration
    , COUNT(duration) as num_trips
FROM `bigquery-public-data.london_bicycles.cycle_hire`
GROUP BY start_station_name
ORDER BY num_trips DESC
limit 5

                    start_station_name     duration  num_trips
0       Belgrove Street , King's Cross  1011.076696     234458
1          Hyde Park Corner, Hyde Park  2782.730709     215629
2         Waterloo Station 3, Waterloo   866.376135     201630
3  Black Lion Gate, Kensington Gardens  3588.012004     161952
4               Albert Gate, Hyde Park  2359.413930     155647